.conteiner{
  font-family: sans-serif;
}
.barra{
  width: 100%;
  padding: 10px;
  background-color: rgb(173, 104, 0);
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#name{
  margin-left: 10px;
  justify-items: flex-start;
}
.button{
  height: 40px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(0, 173, 150);
  color: #fff;
  align-self: center;
  
  
}
#compra{
  margin-right: 30px;
  width: 80px;
  height: 50px;
  flex-direction: row;
}
.button:hover{
  transition:  0.5 ease-in-out;
  background-color: rgb(5, 141, 123);
}
#tienda{
  margin-left: 50px;
}
.catalogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
  height: 400px;
  flex-basis: 200px;
  background-color: rgb(156, 154, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.product-name{
  align-self: center;
}
.product-price{
  align-self: center;
}
#menu{
  height: 20px;
  width: 50px;
  background-color: #bbb;
}
#img-lechuga {
  background: url("lechuga.jpg");
  width: 300px;
  height: 240px;
}
#img-tomate{
  background: url("tomate.jpg");
  width: 300px;
  height: 240px;
}
#img-arveja{
  background: url("arbejas.jpg");
  width: 300px;
  height: 240px;
}
#men{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #fff;
}
.men-product{
  border: #000, solid;
  width: 100px;
}
.men-product button{
  opacity: 0;
  width: 0;
  height: 0;
}
#sum{
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f00;
  justify-content: center;
  color: #fff;
}