.conteiner{
  font-family: sans-serif;
  background-color: #ddd;
  height: 950px;
  z-index: 1;
}
.barra{
  width: 100%;
  padding: 10px;
  background-color: rgb(173, 104, 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
#name{
  margin-left: 10px;
  margin-top: 50px;
  align-self: flex-start;
}
.button{
  height: 40px;
  border: none;
  background-color: rgb(0, 173, 150);
  color: #fff;
  cursor: pointer;
  
}
#compra{
  margin-right: 30px;
  width: 80px;
  height: 50px;
  align-self: flex-end;
}
.button:hover{
  transition:  0.5 ease-in-out;
  background-color: rgb(5, 141, 123);
}
#tienda{
  margin-left: 50px;
}
.catalogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
  height: 400px;
  flex-basis: 200px;
  background-color: rgb(156, 154, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.product-name{
  align-self: center;
}
.product-price{
  align-self: center;
}
#menu{
  height: 20px;
  width: 50px;
  background-color: #bbb;
}
#img-lechuga {
  background: url("lechuga.jpg");
  width: 300px;
  height: 240px;
}
#img-tomate{
  background: url("tomate.jpg");
  width: 300px;
  height: 240px;
}
#img-arveja{
  background: url("arbejas.jpg");
  width: 300px;
  height: 240px;
}
#sum{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f00;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  left: 8px;
  top: 8px;
}
#button-cont{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
#men{
  display: flex;
  position: absolute;
  width: 200px;
  height: 215px;
  justify-content: center;
  flex-direction: column;
  margin-top: 175px;
  margin-right: 28px;
}
#lista{
  width: 100%;

  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-content: center;
  align-self: center;

  font-size: 20px;
}
#ilechuga {
  background: url("lechuga.jpg");
  background-size: contain;
  width: 50px;
  height: 40px;
  align-self: center;
}
#itomate{
  background: url("tomate.jpg");
  background-size: contain;
  border: none;
  width: 50px;
  height: 40px;
  align-self: center;
}
#iarveja{
  background: url("arbejas.jpg");
  background-size: contain;
  width: 50px;
  height: 40px;
  align-self: center;
}
.pro{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-content: center;
  background-color: #248e;
  color: #fff;
  border: 2px #fff double;
}
.espan{
  align-self: center;
  margin-right: 15px;
}
.n{
  align-self: center;
  margin-left: 15px;
}